nav {
    text-align: right;
    padding: 10px;
}

nav li {
    list-style: none;
}

div.google-search, div.image-search {
    text-align: center;
}


div.advanced-search form {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 200px auto;
}


div.advanced-search form input {
    padding: 5px;
    margin: 5px 0 5px 0;

}



div.advanced-search form label {
    display: inline-block;
    margin-right: 50px;
    padding: 5px;
    width: 200px;

}

div#advanced-search-btn-div {
    text-align: right;
}


#advanced-search-btn {
    background-color: blue;
    color: white;
    width: 120px;
    border-radius: 5px;
}

/* #adv-srch-bt-div {
    text-align: right;
} */

div.image-search form input, div.google-search form input{
    display: block;
    margin: 5px auto;
    width: 400px;
    height: 25px;
    border-radius: 5px;
    border-width: 1px;
    padding: 10px, 5px;
}


#search-btn {
    width: 150px;
}


